@charset "UTF-8";
/* line 2, public1.scss */
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

/* line 8, public1.scss */
html, body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 625%;
  height: 100%;
  width: 100%; }

/* line 18, public1.scss */
body {
  position: relative;
  overflow: hidden;
  font-size: 16px; }

/* line 24, public1.scss */
html, body, li, ul, ol, img, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

/* line 28, public1.scss */
* {
  margin: 0;
  padding: 0; }

/* line 32, public1.scss */
li {
  list-style-type: none; }

/* line 35, public1.scss */
a {
  text-decoration: none; }

/* line 38, public1.scss */
body {
  background: #fff; }

/* line 49, public1.scss */
.clear:after, .clear:before {
  content: '';
  display: block; }
/* line 53, public1.scss */
.clear:after {
  width: 0;
  height: 0;
  overflow: hidden;
  clear: both; }

/* line 165, public1.scss */
.gray {
  width: 100%;
  height: .4rem;
  margin-top: .4rem; }
  /* line 169, public1.scss */
  .gray input, .gray a {
    display: inline-block;
    text-align: center;
    line-height: .4rem;
    background: #ccc;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: .2rem;
    font-size: .16rem;
    color: #fff; }

/* line 183, public1.scss */
.blue {
  width: 100%;
  height: .4rem;
  margin-top: .2rem;
  display: inline-block; }
  /* line 189, public1.scss */
  .blue a, .blue input {
    display: inline-block;
    width: 100%;
    height: .4rem;
    background: #5e83e1;
    border-radius: .2rem;
    font-size: .16rem;
    color: #fff;
    line-height: .4rem;
    text-align: center; }

/* line 205, public1.scss */
.mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999; }

/*-------dialog弹出框----------*/
/* line 215, public1.scss */
.dialog-box {
  width: 80%;
  height: 130px;
  background: #fff;
  overflow: hidden;
  border-radius: 6px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999999999; }
  /* line 228, public1.scss */
  .dialog-box .dialog-title {
    border-bottom: 1px solid #ccc;
    line-height: 40px;
    text-indent: 10px;
    font-size: 12px; }
  /* line 234, public1.scss */
  .dialog-box .dialog-msg {
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 10%; }
  /* line 245, public1.scss */
  .dialog-box .dialog-btn-wrap {
    width: 60%;
    height: 40px;
    margin: 0 auto;
    margin-top: 10%;
    display: -webkit-box;
    -webkit-box-pack: center; }
    /* line 252, public1.scss */
    .dialog-box .dialog-btn-wrap .dialog-btn {
      -webkit-flex: 1;
      width: 40%;
      height: 34px;
      border: 1px solid #37BC9B;
      border-radius: 5px;
      display: block;
      text-align: center;
      line-height: 34px;
      color: #666;
      cursor: pointer; }
    /* line 264, public1.scss */
    .dialog-box .dialog-btn-wrap .no {
      margin-left: 50px; }

@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    -ms-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
/* line 310, public1.scss */
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp; }

@minxi justcenter {
  align-items: center;
  justify-content: between; }

/*# sourceMappingURL=public1.css.map */
